<section class="users-show">
    <div>
        <img src="<%= @user.photo %>" />
        <h1><%= @user.name %></h1>
        <p>Number of posts:<%= @user.posts_counter || 0 %></p>
        <p><%= @user.bio %></p>
    </div>

    <div>
    <% @user.recent_posts.each do |post| %>
    <%= link_to user_post_path(@user, post.id) do %>
        <div class="posts">
            <h1>Post: <%= post.title %></h1>
            <p><%= post.text %></p>
            <div>
            <span>Comments:<%= post.comments_counter || 0%></span>
            <span>Likes:<%= post.likes_counter || 0%></span>
            </div>
          </div>
    <% end %>
<% end %>
<button><%=link_to "See all posts", user_posts_path(@user) %></button>
    </div>
</section>