<h1>Posts index</h1>

<section>
    <div>
        <img src="<%= @user.photo %>" />
        <h1><%= @user.name %></h1>
        <p>Number of posts:<%= @user.posts_counter || 0 %></p>
    </div>

<% @posts.each do |post| %>
  <%= link_to user_post_path(@user, post) do %>
  <h2>Post: <%= post.id %></h2>
  <% end %>
  <div>
    <p><%= post.text %></p>

    <div>
      <span>Comments: <%= post.comments_counter %></span>
      <span>Likes: <%= post.likes_counter %></span>
    </div>
  </div>
  
<% end %>
<%= link_to new_user_post_path do %>Add post<% end %>
<ul>
  <% if @current_user&.admin?%>
  <li><%= link_to "Edit Post", edit_post_path(@post) %></li>
  <li><%= button_to "del", post_path(@post), method: :delete  %></li>
  <%end%>
</ul>

<button>Pagination</button>
</section>