<h1>New Post</h1>

<%= form_with model: @post, url:  user_posts_url, method: :post, local: true do |f| %>
<div>
  <%= f.label :Post_title, require: true %><br>
  <%= f.text_field :title %>
</div>
<div>
  <%= f.label :Enter_Text %><br>
  <%= f.text_area :text, rows: 10, require: true %>  
</div>
<% @post.errors.full_messages_for(:title).each do |message| %>
  <div><%= message %></div>
<% end %>
<div>
  <%= f.submit "Create Post" %>
</div>

<% end %>