<h1>I am here</h1>

<section>
      <div class= "posts-container">

        <h1 class="post"><%= @post.title %></h1>
        <div class="posts">
          <span class="posts-comment">Number of comments: <%= @post.comments_counter || 0 %></span>
          <span class="posts-likes">Number of likes: <%= @post.likes_counter || 0 %></span>
        </div>
            <p>post description: <span><%= @post.text%></span> </p>
      </div>
      <div class="recent-comments">
      <ul>
      <% @post.recent_comments.each do |comment| %>
      <li>comments:<%= comment.text %></li>
      <%=link_to "delete comment", user_post_comment_path(comment.author, comment.post, comment), method: :delete, data: { turbo_method: :delete }  %>
       <% end %>
       <%= link_to 'Add comment', new_user_post_comment_path(@user, @post) %>
       <%= form_with url: "/users/#{@post.author_id}/posts/#{@post.id}/likes", scope: :like do |f| %>
  <%= f.submit " Add Like" %>
  <% end %>
      </ul>
      </div>
</section>